<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="cells-ernesto-login-styles.html">
<dom-module id="cells-ernesto-login">
  <script src="cells-ernesto-login.js"></script>
</dom-module>