@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-ernesto-login;
}

:host([hidden]), [hidden] {
  display: none !important;
}


*, *:before, *:after {
  font: inherit;
  box-sizing: inherit;
}
    .form {
        background-color: lightblue;
        margin: 15px;
        width: auto;
        padding: 1em;
        border: 5px solid #CCC;
        border-radius: 1em;
      }
      .input-group {
        text-align: center;
      }
      input {
        outline: none;
        padding: 3px 10px;
        border: PowderBlue 5px solid;
        border-radius: 20px;
        display: block;
        width: 100%;
      }
h1 {
	font-size:25px;
	color: red;
}
